<div [ngClass]="alert" class="alert" role="alert">
  A simple primary alert—check it out!
</div>


<button type="button" class="btn btn-info " (click)="alert = 'alert-info'"> Info </button>
<button type="button" class="btn btn-success " (click)="alert = 'alert-success'"> Success </button>

<br><br>

<h3 [ngClass]="{'text-danger': properties.danger, 'text-info': !properties.danger}">Hola mundo</h3>
<button (click)="properties.danger = !properties.danger" type="button" class="btn"
  [ngClass]=" { 'btn-danger': properties.danger, 'btn-info':!properties.danger } ">
  Cambiar
</button>


<br><br>

<h3>Proceso Asíncrono</h3>
<button type="button"
    class="btn btn-primary"
    (click)=save()
    [disabled] = "loading">
  <i
    [ngClass] = " { 'fa fa-save': !loading, 'fas fa-sync fa-spin': loading } ">
  </i>
  <span *ngIf =  "!loading"> Guardar Cambios </span>
  <span *ngIf =  "loading"> Guardando... </span>
</button>
